
h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../images/pattern.jpeg");
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
h3 {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  }
p {
    font-family: Helvetica;
  }
#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#finnish {
    background-color: skyblue;
}
#cost {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
